VITE_API_BASE_URL=https://138a-2a05-45c2-30a5-c600-b598-bfc8-4295-57aa.ngrok-free.app
VITE_API_PROXY_TARGET=https://138a-2a05-45c2-30a5-c600-b598-bfc8-4295-57aa.ngrok-free.app
VITE_API_USE_PROXY=true
VITE_USE_MOCK_API=false
