VITE_API_BASE_URL=https://5042-2a05-45c2-30a5-c600-b76a-a772-5673-9a9.ngrok-free.app
VITE_API_PROXY_TARGET=https://5042-2a05-45c2-30a5-c600-b76a-a772-5673-9a9.ngrok-free.app
VITE_API_USE_PROXY=true
VITE_USE_MOCK_API=false
